[Desktop Entry]
Comment=Aurorae theme that mimics Yosemite window decoration, with Breeze colors. Based on Yosemite and originally made by andreyorst
Name=Breezemite Plus Dark
X-KDE-PluginInfo-Author=abiiES76
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=abiiM@airmail.cc
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Breezemite_plus_dark
X-KDE-PluginInfo-Version=0.3.0
